<section id="Hero" class="-z-20 w-full max-h-screen text-white text-center relative">
  <img id="heroBg" src="/asset/images/hero-bg.webp" class="w-full" alt="" />

  <img src="/asset/images/y2k/star.svg" alt="" class="z-20 w-[20rem] absolute left-1/4 top-1/4" />
  <img src="/asset/images/y2k/globe.svg" alt="" class="z-20 w-[30rem] absolute -left-20 -bottom-24" />
  <img src="/asset/images/y2k/pointy.svg" alt="" class="z-20 w-[55rem] absolute -right-[20rem] -top-32" />
</section>
