<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>John Mcquare - A Concept Project With 3D Model & Scroll Animation</title>
    <meta name="description" content="My Freelance Artist Concept Portfolio Website" />
    <meta name="keywords" content="Bora,Bora Şen, Freelance Artist, Freelance Artist Portfolio, Bora Şen Projects" />
    <link rel="preload" type="stylesheet" href="/asset/font/fonts.css" />
    <style>
      @tailwind base;
      @tailwind utilities;
      @tailwind components;
    </style>
  </head>
  <body class="bg-black">
    <slot />
  </body>
</html>
