<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Freelance Artist Portfolio Website</title>
		<link rel="preload" type="stylesheet" href="/asset/font/fonts.css">
		<style>
			@tailwind base;
			@tailwind utilities;
			@tailwind components;
		</style>
	</head>
	<body>
		<slot />
	</body>
</html>
